server:
  port: 8080

rocketmq:
  name-server: 192.168.39.233:9876
  producer:
    group: "default-producer-group"
    retry-times-when-send-failed: 3
  consumer:
    group: "default-consumer-group"
    pull-batch-size: 20
  topics:
    common-topic: "common-topic"

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.39.233:13306/rocket_mq_springboot?serverTimezone=Asia/Shanghai
    username: root
    password: flms04
